@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the College of Code </h1><br>
    <h3> Your student number will be generated and will determine your house for year.</h3><br>

</div>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h2>Student Number Assigned Housing </h2>

    <table>
        <tr>
            <th>Letter</th>
            <th>Designated House</th>
            <th>Main Contact</th>
        </tr>
        <tr>
            <td>A</td>
            <td>Elm Tree Wood </td>
            <td>Maria Anders</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Rose House</td>
            <td>Sandra Murphy</td>
        </tr>
        <tr>
            <td>C</td>
            <td>Silverwood</td>
            <td>Philip Walsh</td>
        </tr>
        <tr>
            <td>D</td>
            <td>Orchaid Hall</td>
            <td>Helen Bennett</td>
        </tr>
        <tr>
            <td>E</td>
            <td>Brookvale</td>
            <td>Yoshi Tannamuri</td>
        </tr>
        <tr>
            <td>F</td>
            <td>Mill House</td>
            <td>Amelia Ross</td>
        </tr>
        <tr>
            <td>G</td>
            <td>Mill House</td>
            <td>Damian Rogers</td>
        </tr>
        <tr>
            <td>H</td>
            <td>Cloud Hub</td>
            <td>Khan Sum</td>
        </tr>
        <tr>
            <td>I</td>
            <td>Omega Hall</td>
            <td>Abdulhaq Aboyomi</td>
        </tr>
        <tr>
            <td>J</td>
            <td>Church View</td>
            <td>Jamie Byrne</td>
        </tr>
    </table>

</body>
</html>
